<div class="container-button">
  <app-photo class="avatar" width="40px" [source]="avatarPath" height="40px"></app-photo>
  <div class="sub-container">
    {{user?.name}}
    <div [hidden]="!opened" class="dropdown-content">
      <a class="drop-item"  routerLink="/profile">Мой профиль</a>
      <label class="drop-item"> Отслеживать местоположение<input id="track" ([ngModel])="user?.track" type="checkbox" ></label>
      <div class="drop-item" (click)="logOut()">Выйти</div>
    </div>
  </div>
</div>
