.container-button:hover .dropdown-content {
  display: block;
}

.container-button {
  display: inline-block;
  color: white;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  min-width: 160px;
  background-color: #013475;
}

.container-button:hover {
  background-color: #F25510;
}

.sub-container {
  padding: 14px 16px 14px 0;
  margin-left: 48px;
}

.dropdown-content {
  text-align: left;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 500;
  margin-top: 14px;
  min-width: 160px;
  right: 0;
  box-shadow: 1px 0 2px gray;
}

.drop-item {
  color: black;
  display: block;
  padding: 12px 16px;
}

.drop-item:hover {
  background-color: #f1f1f1;
  color: #DE3F07;
}

.avatar {
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
}
