<div class="container">
  <h2>Поиск</h2>
  <div class="wrapper">
    <div *ngFor="let f of found">
      <div class="friend">
        <a routerLink="/profile/{{f.name}}">
          <app-photo width="60px" height="60px" class="avatar" borderRadius="60px"
                     [source]="avatar(f)"></app-photo>
          <span class="friends-content">{{f.name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
