<div class="container">
  <h2>Подписчики</h2>
  <div class="wrapper">
    <div *ngFor="let f of friends">
      <div class="friend">
          <a routerLink="/profile/{{f.friend1.name}}">
            <app-photo width="60px" height="60px" class="avatar" borderRadius="60px"
                       [source]="avatar(f.friend1)"></app-photo>
            <span class="friends-content">{{f.friend1.name}}</span>
          </a>
          <button name="remove" class="sub_btn remove" (click)="removeFriend(f)">Убрать</button>
      </div>
    </div>
  </div>
</div>
