.avatar {
  display: inline-block;
}

.container {
  margin: 0 auto;
}

.friend {
  margin: 0 auto;
  height: 80px;
  border-bottom: 1px solid gainsboro;
  padding: 10px;
  display: block;
}

.friends-content {
  margin: -50px 70px;
  vertical-align: central;
  display: block;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  border: 1px solid gainsboro;
  padding: 0 20px;
  background-color: white;
}

.remove {
  display: inline-block;
  margin: 60px 70px;
}
