<div class="container">
  <h2>Подписки</h2>
  <div class="wrapper">
    <div *ngFor="let f of friends">
      <div class="friend">
        <a routerLink="/profile/{{f.friend2.name}}">
          <app-photo width="60px" height="60px" class="avatar" borderRadius="60px"
                     [source]="avatar(f.friend2)"></app-photo>
          <span class="friends-content">{{f.friend2.name}}</span>
        </a>
        <button name="remove" class="sub_btn remove" (click)="removeFriend(f)">Отписаться</button>
      </div>
    </div>
  </div>
</div>
