.crop, .crop-big{
  margin: 0 auto;
  border: 1px solid #ccc;
  text-align: center;
}

.crop img, .crop-big img, .crop-large img {
  margin: 0 auto;
  padding: 0;
  display: block;
}

.crop {
  width: 160px;
  /*height: 120px;*/
}

.crop img {
  margin: 0 auto;
  max-width: 160px;
  max-height: 120px;
}

.crop-big {
  width: 250px;
  height: 180px;
}

.crop-big img {
  max-width: 250px;
  max-height: 160px;
  margin: 0 auto;
}


.crop-large {
  width: 100%;
}

.crop-large img {
  max-width: 100%;
}

.bordered img {
  /*border: 1px solid #eee;*/
  box-shadow: 0 1px 2px #cecece;
}
