<div class="container">
  <h2>Регистрация</h2>
  <div class="sub-container">
    <form class="form-control" name="form" [formGroup]="form" (submit)="onSubmit()">
      <div class="control">
        <label for="name" class="mark">Логин: *</label>
        <input class="wide" id="name" type="text" [(ngModel)]="name" formControlName="name" name="name" required>
        <i class="fa fa-check check" *ngIf="nameC.valid"></i>
        <div class="error" *ngIf="nameC.invalid && submitTouched">Логин не должен начинаться заканчиваться символами "."
          и "_", и
          быть не короче 6-ти символов
        </div>
      </div>
      <div class="control">
        <label class="mark" for="age">Возраст: *</label>
        <input class="wide" type="text" [(ngModel)]="age" formControlName="age" name="age" required id="age">
        <i class="fa fa-check check" *ngIf="ageC.valid"></i>
      </div>
      <div class="control">
        <div class="mark">Пол: *</div>
        <label for="male">
           <input type="radio" [(ngModel)]="sex" [ngModelOptions]="{standalone: true}" [value]="true" checked="checked" name="sex" id="male">Мужской
        </label>
        <label for="female">
           <input type="radio" [(ngModel)]="sex" [ngModelOptions]="{standalone: true}" [value]="false" name="sex"
                 id="female">Женский
        </label>
        <i class="fa fa-check check"></i>
      </div>
      <div class="control">
        <label class="mark" for="email">E-Mail: *</label>
        <input class="wide" type="email" email="true" [(ngModel)]="email" formControlName="email" name="email" id="email" required>
        <i class="fa fa-check check" *ngIf="emailC.valid"></i>
      </div>
      <div class="control">
        <label class="mark" for="country">Страна: *</label>
        <input class="wide" type="text" [(ngModel)]="country" formControlName="country" name="country" id="country" required>
        <i class="fa fa-check check" *ngIf="countryC.valid"></i>
      </div>
      <div class="control">
        <label class="mark" for="password">Пароль: *</label>
        <input class="wide" type="password" [(ngModel)]="password" formControlName="password" name="password" id="password" required>
        <i class="fa fa-check check" *ngIf="passwordC.valid"></i>
        <div class="error-wraper">
          <div class="error" *ngIf="(passwordC.invalid && submitTouched) && submitTouched">
            Пароль должен быть не меньше шести символов, состоять из строчной буквы, заглавной и числа
          </div>
        </div>
      </div>
      <div class="control">
        <label class="mark" for="password2">Подтвердите пароль: *</label>
        <input class="wide" type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}" name="password2"
               id="password2" required>
        <i class="fa fa-check check" *ngIf="password2 != password"></i>
        <div class="error-wraper">
          <div class="error" *ngIf="(password2 != password) && submitTouched">
            Пароли не совпадают!
          </div>
        </div>
      </div>
      <div class="control">
        <label class="mark">Аватар: *</label>
        <input type="file" accept="image/*" #avatar (change)="fileChanged()"  name="avatar">
      </div>
      <div class="control-btn">
        <input type="submit" class="sub_btn" name="submit" value="Подтвердить">
      </div>
    </form>
  </div>
</div>
