<div class="container">
  <a class="user"  routerLink="/profile/{{feed?.owner.name}}">
    <app-photo width="40px" height="40px" class="avatar" borderRadius="40px"
               [source]="avatar(feed.owner)"></app-photo>
    <div class="user-content"> {{feed.owner.name}}</div>
  </a>
  <div class="remove-btn" *ngIf="canBeDeleted"><i class="fa fa-remove" aria-hidden="true"></i></div>
  <div class="clear"></div>
  <div class="padding"></div>
  <div class="ghost">Опубликовано: {{feed.created | date: 'dd-MMM-yyyy H:m':'':'ru-RU'}}</div>
  <p>
  <div class="text black">{{feed.text}}</div>
  <p>
    <app-photo class="news-image" [className]="'crop-large bordered'"
               *ngIf="feed.photo != null" [source]="getPhotoSourcePath()"></app-photo>
  <p>
  <div class="like-box" (click)="toggleLike()" *ngIf="feed.likes != null"><span
    class="like-text">{{feed.likes.length}}</span> <i
    class="fa fa-heart {{likeClass}}"></i><span class="like-text"> likes</span></div>
</div>
