
.container {
  border: 1px solid gainsboro;
  box-shadow: 0 1px 3px gainsboro;
  padding: 20px;
  background-color: white;
  width: 100%;
}

.ghost {
  color: gray;
}

.black {
  color: black;
}

.text {
  font-size: 11pt;
  padding-bottom: 10px;
  /*font-family: Calibri, serif;*/
}

.news-image {
  margin: 0 auto;
  width: 90%;
}

.like-box {
  min-width: 80px;
  display: inline-block;
  background-color: #cccfff;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.like-box:hover {
  background-color: #dddfff;
}

.like-text {
  font-size: 12px;
  color: #DE3F07;
  font-weight: bold;
}

.liked {
  color: #eb4007;
}

.avatar {
  display: inline-block;
}


.user-content {
  margin: -30px 50px;
  height: 100%;
  vertical-align: central;
  display: block;
}

.user {
  display: block;
}

.remove-btn {
  font-size: 14pt;
  cursor: pointer;
  display: inline-block;
  position: relative;
  float: right;
}

.padding {
  padding-bottom: 40px;
}
