#wrapper {
  background-color: #f1f1f1;
}

#header_top {
  z-index: 100;
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

#main {
  font-family: 'Open Sans', sans-serif;
  padding: 100px 20px 20px 20px;
}

#menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: 1px solid orange;
}

#menu-list .left {
  float: left;
}

.nav-bar-link {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar-link:hover, .dropbtn:hover {
  background-color: #F25510;
}

#menu-list li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #DE3F07;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#welcome-search form {
  padding: 0 10px;
  float: right;
}

.product-link {
  color: black;
}

#bottom-footer {
  /*margin-top: -208px;*/
  font-family: cursive;
}

#bottom_wrapper {
  margin: 0 auto;
  background-color: #222;
  padding: 10px 30px;
}

#bottom * {
  color: white;
}

#bottom {
  margin: 0 auto;
}

#bottom li {
  float: left;
  margin-left: 15px;
  list-style: none;
}

.row {
  padding: 10px 0;
}

#footer_wrapper {
  padding: 10px 20px;
  background-color: #013475;
}

input[type=text].txt_field {
  width: 300px;
  padding: 4px 3px;
  margin: 8px 0;
  box-sizing: border-box;
}
