<div id="wrapper">
  <div id="header_top">
    <ul id="menu-list">
      <li class="left" [hidden]="!user"><a routerLink="/" class="nav-bar-link"> Новости </a></li>
      <li class="left" [hidden]="!user">
        <a routerLink="/subscribes" class="nav-bar-link"> Подписки {{subscribedCount}}</a>
      </li>
      <li class="left" [hidden]="!user">
        <a routerLink="/subscribers" class="nav-bar-link"> Подписчики {{subscribersCount}}</a>
      </li>

      <li id="welcome-search" class="left">
        <form>
          <input type="text" name="keyword" [(ngModel)]="searchQuery" title="keyword" class="txt_field"/>
          <input type="submit" (click)="onSearch()" name="Search" value="Поиск" title="Search" class="sub_btn"/>
        </form>
      </li>

      <li *ngIf="!user" class="right"><a routerLink="/login" class="nav-bar-link"> Вход</a>
      </li>
      <li *ngIf="!user" class="right"><a routerLink="/registration" class="nav-bar-link">Регистрация </a></li>

      <li class="right" *ngIf="user != null">
        <app-user-bar [user]="user" [opened]="false"></app-user-bar>
      </li>
    </ul>
    <br style="clear: both;"/>
  </div>
  <!-- end of tooplate_menu -->

  <!-- END of header top -->

  <!-- END of header -->
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- END of main -->
<!-- END of wrapper -->
<div class="push"></div>

<!--&lt;!&ndash;start of footer&ndash;&gt;-->

<!--<div id="bottom-footer">-->
<!--<div id="bottom_wrapper">-->
<!--<div id="bottom">-->
<!--<div class="row">-->
<!--<h4>Карта сайта</h4>-->
<!--<ul class="list_bullet">-->
<!--<li *ngFor="let page of linkedPage"-->
<!--[hidden]="user && page.restriction == 2 || !user && page.restriction >=3">-->
<!--<a [routerLink]="page.ref">{{page.text}}</a>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="clear"></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<h4>Категории</h4>-->
<!--<ul class="list_bullet">-->
<!--<li *ngFor="let page of categories"><a [routerLink]="'/items/' + page.value">{{page.title}}</a></li>-->
<!--</ul>-->
<!--<div class="clear"></div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; END of bottom &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; END of bottom wrapper &ndash;&gt;-->

<!--<div id="footer_wrapper">-->
<!--<div id="footer">Copyright © 2048 Tristagramm Company</div>-->
<!--&lt;!&ndash; END of footer &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!-- END of footer wrapper -->
