
.add-feed {
  width: 100%;
  display: inline-block;
}

.form {
  display: inline-block;
  width: 100%;
}

.input {
  width: 95%;
  margin: 0 auto;
  height: 40px;
  padding: 0 20px;
  border: 1px solid gainsboro;
  box-shadow: 0 1px 3px gainsboro;
}

.input:hover, .input:active {
  border: 1px solid #cccccc;
  box-shadow: 0 1px 3px #cccccc;
}



.wrap-to-news {
  border: 1px solid gainsboro;
  box-shadow: 0 1px 3px gainsboro;
  width: 100%;
  display: block;
  background-color: white;
}

.vert-padding {
  padding: 10px 20px;
}

