<form *ngIf="user" class="form" name="form" >
  <div class="vert-padding wrap-to-news ">
    <input id="text" type="text" class="input" [(ngModel)]="text" name="text" placeholder="Добавьте текст...">
    <p></p>
    <input id="photo" type="file" accept="image/*" name="photo" placeholder="Добавьте изображение" #fileInput>
    <p></p>
    <input type="submit" (click)="onSubmit()" name="submit" value="Опубликовать"  class="sub_btn">
  </div>
</form>
