<div class="container">
  <h2>Новости</h2>
  <div class="wrapper">
    <app-add-feed (newFeedChange)="append($event)" [user]="user"></app-add-feed>
    <p></p>
    <div class="text">Показано {{feeds?.length}} новостей</div>
    <p></p>
    <div class="news">
      <div class="list" *ngFor="let n of feeds">
        <app-feed [feed]="n" [canBeDeleted]="n.ownerId == user.objectId" (deleted)="removeFromList(n)"></app-feed>
        <p>
      </div>
    </div>
  </div>
</div>
