<div class="container">
  <h2>Пользователь {{user?.name}}</h2>
  <div class="sub-container">
    <app-photo [source]="avatarPath" className="crop-big" [width]="240"></app-photo>

    <!--file-->
    <div *ngIf="isCurrentUser">Аватар: <span class="red" (click)="updateClick()">Изменить</span>
      <input type="file" accept="image/*" name="file" (change)="fileChanged()" #fileInput>
    </div>

    <div *ngIf="!isCurrentUser">
      <!--subsription-->
      <button *ngIf="friendship?.length === 0" (click)="onSubscribe()" class="sub_btn">Подписаться</button>
      <button *ngIf="friendship?.length !== 0" (click)="onDecline()" class="sub_btn">Отписаться</button>
    </div>

    <div *ngIf="!isCurrentUser">
      <div>Пол: {{user?.sex | sex}}</div>
      <div>E-Mail: {{user?.email}}</div>
      <div>Возраст: {{user?.age}}</div>
      <div>Страна: {{user?.country}}</div>
    </div>

    <div *ngIf="isCurrentUser">

      <!--email-->
      <div class="control">
        <label for="email">E-Mail:</label> <input class="wide" id="email" [(ngModel)]="user.email" type="text">
      </div>

      <!--age-->
      <div class="control">
        <label for="age">Возраст:</label> <input class="wide" id="age" [(ngModel)]="user.age" type="text">
      </div>

      <!--country-->
      <div class="control">
        <label class="mark" for="country">Страна: *</label>
        <input class="wide" type="text" [(ngModel)]="user.country" name="country" id="country">
      </div>
      <!--sex-->
      <div class="control">
        <div class="mark">Пол: *</div>
        <label for="male">
          <input type="radio" [(ngModel)]="user.sex" [value]="true" checked="checked" name="sex" id="male">Мужской
        </label>
        <label for="female">
          <input type="radio" [(ngModel)]="user.sex" [value]="false" name="sex" id="female">Женский
        </label>
      </div>
      <!--submit-->
      <div class="control">
        <input type="button" class="sub_btn" name="submit" (click)="userSubmit()" value="Подтвердить">
      </div>
    </div>

    <!--feeds-->
    <div class="feeds">
      <div> У пользователя {{feeds?.length}} записей</div>
      <p></p>
      <div class="feed" *ngFor="let f of feeds">
        <app-feed [feed]="f"></app-feed>
        <p></p>
      </div>
    </div>
  </div>
</div>
