.sub-container {
  margin: 0 auto;
  width: 90%;
}

.red {
  color: red;
  cursor: pointer;
}

.red:hover {
  text-decoration-line: underline;
}

.feeds {
  padding-top: 20px;
  width: 800px;
  margin: 0 auto;
}

.control, .control-btn {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  position: relative;
}

.control {
  width: 75%;
}

.control .wide {
  margin: 0 auto;
  width: 100%;
  padding: 4px 3px;
  box-sizing: border-box;
  display: inline-block;
}
