<!--See style in registration/registration.component.css-->

<div class="container">
  <h2>Вход</h2>
  <div class="sub-container">
    <form class="form-control"  name="form"(submit)="onSubmit()">
      <div class="control" *ngIf="!restore">
        <label class="mark" for="name">Логин: *</label>
        <input class="wide" type="text" [(ngModel)]="usrName" name="name" id="name" required>
      </div>
      <div class="control" *ngIf="!restore">
        <label class="mark" for="password">Пароль: *</label>
        <input class="wide" type="password" [(ngModel)]="password" name="password" id="password" required>
      </div>
      <div class="control" *ngIf="restore">
        <label class="mark" for="email">E-mail: *</label>
        <input class="wide" type="text" [(ngModel)]="email" name="email" id="email" required>
      </div>
      <div class="control-btn">
        <input type="submit" class="sub_btn" name="submit" value="Подтвердить">
      </div>
      <a id="restore" class="small-link" [hidden]="restore" (click)="restoreToggle()">Забыли пароль?</a>
      <a id="back" class="small-link" [hidden]="!restore" (click)="restoreToggle()">Вернуться?</a>
    </form>
  </div>
</div>
