* {
  margin: 0;
  padding: 0;
  font-kerning: none;
}

html, body {
  margin: 0;
  padding: 0;
  color: #5965B1;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  overflow-x: hidden;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #DE3F07;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 0;
}

h1 {
  font-size: 34px;
  margin-bottom: 10px
}

h2 {
  font-size: 26px;
  margin-bottom: 30px;
  line-height: 20px;
}

h3 {
  font-size: 20px;
  line-height: 24px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 16px
}

h6 {
  font-size: 12px
}

.left {
  float: left
}

.right {
  float: right
}

.clear {
  clear: both
}

img {
  margin: 0;
  padding: 0;
  border: 0
}

.img_border {
  border: 1px solid #eaeaea;
  background: #ffffff;
}

p {
  margin: 0 0 10px 0;
  padding: 0
}

hr {
  clear: both;
  margin-bottom: 10px;
  padding-top: 2px;
  border: none;
  background-color: #aaa;
}

label {
  display: block;
}

a:link, a:visited {
  color: #412d9b;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.sub_btn {
  background-color: #F25510;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.sub_btn:hover {
  background-color: #397FDE;
}

.size-up {
  font-size: 1.2em;
}

.hide {
  display: none;
}
